---

vcenter_datacenter: KISTA-DC
vcenter_cluster: ARROWLAB
vcenter_folder: KISTA-DC/Redhat
vcenter_datastore: SVC-LUN-1

# RHEL subscriptions

subs_username: foobar
subs_pw: foobar
subs_pool: Employee SKU
enabled_repos_rhel8:
  - rhel-8-for-x86_64-appstream-rpms
  - rhel-8-for-x86_64-baseos-rpms
  - ansible-2-for-rhel-8-x86_64-rpms

# see guide here: https://galaxy.ansible.com/freeipa/ansible_freeipa
dns_forwarder1_ip: 10.1.102.5
dns_forwarder2_ip: 10.1.102.10
dns_reverse_zone: 1.128.10.in-addr.arpa.
ipaserver_master_ip: 10.128.1.10
ipaserver_master_name: rh-idm-01
ipaserver_replica_ip: 10.128.1.11
ipaserver_replica_name: rh-idm-02
ipaserver_domain: cool.lab
ipaserver_realm: COOL.LAB
ipaserver_gw: 10.128.1.1

# define the idm host groups
hostgroups:
  - name: infra
    description: Infrastructure Hosts
    hosts:
      - rh-idm-01.cool.lab
      - rh-idm-02.cool.lab
      - rh-bastion-01.cool.lab
  - name: ipaservers
    description: IdM cluster hosts
    hosts:
      - rh-idm-01.cool.lab
      - rh-idm-02.cool.lab

aap_ldap_username: aap_ldap
aap_controller: rh-ansiblecontroller-01.cool.lab
