---

vcenter_datacenter: KISTA-DC
vcenter_cluster: ARROWLAB
vcenter_folder: KISTA-DC/Redhat
vcenter_datastore: SVC-LUN-1

# RHEL subscriptions

rh_subs_username: "{{ vault_rh_subs_username }}"
rh_subs_password: "{{ vault_rh_subs_password }}"
subs_pool: Employee SKU
enabled_repos_rhel:
  '8':
    - rhel-8-for-x86_64-appstream-rpms
    - rhel-8-for-x86_64-baseos-rpms
    - ansible-2-for-rhel-8-x86_64-rpms
  '9':
    - rhel-9-for-x86_64-appstream-rpms
    - rhel-9-for-x86_64-baseos-rpms
    - ansible-automation-platform-2.2-for-rhel-9-x86_64-rpms

# see guide here: https://galaxy.ansible.com/freeipa/ansible_freeipa
dns_forwarder1_ip: 10.1.102.5
dns_forwarder2_ip: 10.1.102.10
dns_reverse_zone: 1.128.10.in-addr.arpa.
ipaservers:
  - rh-idm-01.cool.lab
  - rh-idm-02.cool.lab
ipaserver_master_ip: 10.128.1.10
ipaserver_master_name: rh-idm-01
ipaserver_replica_ip: 10.128.1.11
ipaserver_replica_name: rh-idm-02
ipaserver_domain: cool.lab
ipaserver_realm: COOL.LAB
ipaserver_gw: 10.128.1.1
ipaadmin_principal: admin
ipaclient_ntp_servers: true
ipaclient_mkhomedir: true
ipasssd_enable_dns_updates: true

# define the idm host groups
hostgroups:
  - name: infra
    description: Infrastructure Hosts
    hosts:
      - rh-idm-01.cool.lab
      - rh-idm-02.cool.lab
      - rh-bastion-01.cool.lab
  - name: ipaservers
    description: IdM cluster hosts
    hosts:
      - rh-idm-01.cool.lab
      - rh-idm-02.cool.lab

aap_ldap_username: aap_ldap
aap_controller: rh-ansiblecontroller-01.cool.lab


satellite_ip: 10.128.1.17
