---

controller_settings:
  settings:
    AUTH_LDAP_BIND_PASSWORD: "{{ aap_ldap_password }}"
    AUTH_LDAP_SERVER_URI: "ldaps://{{ ipaserver_master_name }}.{{ ipaserver_domain }}"
    AUTH_LDAP_BIND_DN:
      "uid={{ aap_ldap_username }},cn=sysaccounts,cn=etc,dc=cool,dc=lab"
    AUTH_LDAP_USER_SEARCH:
      - CN=users,CN=accounts,DC=cool,DC=lab
      - SCOPE_SUBTREE
      - (uid=%(user)s)
    AUTH_LDAP_GROUP_SEARCH:
      - CN=groups,CN=accounts,DC=cool,DC=lab
      - SCOPE_SUBTREE
      - (objectClass=ipausergroup)
    AUTH_LDAP_GROUP_TYPE: GroupOfNamesType
    AUTH_LDAP_GROUP_TYPE_PARAMS: {}
    AUTH_LDAP_USER_ATTR_MAP:
      email: "mail"
      first_name: "givenName"
      last_name: "sn"
    AUTH_LDAP_USER_FLAGS_BY_GROUP:
      is_superuser:
        - "CN=aap_admins,CN=groups,CN=accounts,DC=cool,DC=lab"
    AUTH_LDAP_ORGANIZATION_MAP:
      rhops:
        admins:
          - "CN=rhops,CN=groups,CN=accounts,DC=cool,DC=lab"
      Arrow:
        users:
          - "CN=arrow,CN=groups,CN=accounts,DC=cool,DC=lab"
        admins:
          - "CN=arrowops,CN=groups,CN=accounts,DC=cool,DC=lab"
        remove_admins: true
    AWX_ROLES_ENABLED: true
    AWX_COLLECTIONS_ENABLED: true
