[defaults]
nocows = True
#no_target_syslog = True

collections_scan_sys_path = True
collections_on_ansible_version_mismatch = error

stdout_callback = ansible.builtin.default
callback_result_format = yaml
callback_format_pretty = True
#display_skipped_hosts = False
#display_ok_hosts = False
#check_mode_markers = True
show_task_path_on_failure = True
callbacks_enabled = ansible.posix.profile_tasks

[galaxy]
#gpg_keyring = $HOME/.ansible/gnupg/pubring.kbx
ignore_certs = True

server_list = pah-community, pah-published, pah-rh-certified, pah-validated

[galaxy_server.redhat_certified]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# Use env var ANSIBLE_GALAXY_SERVER_REDHAT_CERTIFIED_TOKEN or the below option
# token = changeme

[galaxy_server.redhat_validated]
url = https://console.redhat.com/api/automation-hub/content/validated/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# Use env var ANSIBLE_GALAXY_SERVER_REDHAT_VALIDATED_TOKEN or the below option
# token = changeme

[galaxy_server.ansible_galaxy]
url = https://galaxy.ansible.com/
# token = changeme

[galaxy_server.pah-community]
url=https://aap-ansible-automation-platform.apps.mgmt.eu.arrow.lab/api/galaxy/content/community/
token='{{ vault_aap_private_automationhub_token }}'

[galaxy_server.pah-published]
url=https://aap-ansible-automation-platform.apps.mgmt.eu.arrow.lab/api/galaxy/
token='{{ vault_aap_private_automationhub_token }}'

[galaxy_server.pah-rh-certified]
url=https://aap-ansible-automation-platform.apps.mgmt.eu.arrow.lab/api/galaxy/content/rh-certified/
token='{{ vault_aap_private_automationhub_token }}'

[galaxy_server.pah-validated]
url=https://aap-ansible-automation-platform.apps.mgmt.eu.arrow.lab/api/galaxy/content/validated/
token='{{ vault_aap_private_automationhub_token }}'
